<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to Hospital Network</title>
</head>
<body>
	<div align="center">
	
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
	
	<table border="1">
		<tbody>
			<tr>
				<td> <a href="/getEmployees">Employees</a> </td>
				<td> <a href="/getPatientDetails">Patients</a> </td>
			</tr>
			
			<tr>
				<td> <a href="/getDepartments">Departments</a> </td>
				<td> <a href="/getPatientCare">Patient Care</a> </td>
			</tr>
			
			<tr>
				<td> <a href="/getLoginDetails">Login Information</a> </td>
				<td> <a href="/getPreviousVisits">Patient History</a> </td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>